body {
    background-color: white;
}

.activeListSideNav{
    background-color: #d2d2d2;
}

.filterInput{
    margin-top: 10%;
    height: 30px;
    padding-left: 5px;
}

.filterByClientSelectBox{
    margin-left: 7%;
}

/* Comments */
.commentSelected{
	background-color: #cacaca !important;
}

.commentListHeight {
    height: 200px;
    overflow: auto;
}

.noCommentMsg {
    text-align: center;
    margin-top: 30px;
}

.md-button.smallCommentsButton {
    min-width: 10px;
}

/* Page Import */
.inputUploadHide{
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
    display: none;
}

/* ag-grid */
.ag-theme-material .deadline-passed {
    background-color: #fff2f2;
}

.mdCheckboxAgGrid{
    margin-top: 12px;
}

/* Filter term on select input */
.selectFilterTermHeader {
  /* Please note: All these selectors are only applied to children of elements with the 'selectFilterTermHeader' class */
}

.selectFilterTermHeader .header-searchbox {
    border: none;
    outline: none;
    height: 100%;
    width: 100%;
    padding: 0; 
}

.selectFilterTermHeader .select-header {
    box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.1), 0 0 0 0 rgba(0, 0, 0, 0.14), 0 0 0 0 rgba(0, 0, 0, 0.12);
    padding-left: 10.667px;
    height: 48px;
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;
    width: auto; 
}

.selectFilterTermHeader md-content._md {
    max-height: 240px;
}
/* END Filter term on select input */

/* Import page */
#importTable {
    width: 100%;
    margin-top: 35px;
}

#importTable th, td {
    text-align: center;
}

#importTable #fileName {
    width: 30%;
}