<div ng-controller="HistoryController">
	<md-content flex layout-padding class="table-content">
		<md-card style="margin:0px">
	        <md-input-container style="margin:15px;">
	            <label translate="DAILY_TASKS_TRAIN.FILTER_BY_SEARCH">Filter by tasks</label>
	            <input type="text" ng-model="querySearch">
	        </md-input-container>
	    </md-card>
	    <div class="table-responsive-vertical shadow-z-1">
	    	<table st-table="tasks" class="table table-mc-light-blue">
	    		<thead>
	    			<tr>
	    				<th translate="DAILY_TASKS_TRAIN.TABLE.DEADLINE">Deadline</th>
	    				<th translate="DAILY_TASKS_TRAIN.TABLE.DONE">Done</th>
	    				<th translate="DAILY_TASKS_TRAIN.TABLE.TRAINID">TrainID</th>
	    				<th translate="DAILY_TASKS_TRAIN.TABLE.TASK">Task</th>
	    				<th translate="DAILY_TASKS_TRAIN.TABLE.COMMENT">Comments</th>
	    				<th translate="DAILY_TASKS_TRAIN.TABLE.USER_IN_CHARGE">User in charge</th>
	    			</tr>
	    		</thead>
	    	</table>
	    </div>
		<div class="table-responsive-vertical shadow-z-1">
			<table st-table="tasks" class="table table-mc-light-blue historyTable">
				<tbody class="historyTable">
					<tr class="historyTable" ng-repeat="task in tasks | filter:querySearch">
						<td class="historyTable" data-title="Deadline">{{::task.deadline | date : "HH:mm"}}</td>
						<td class="historyTable" data-title="Task done ?">
						  <md-checkbox ng-disabled="true" ng-model="task.checked" aria-label="Checkbox 1"></md-checkbox>
						</td>
						<td class="historyTable" data-title="Abreviation">{{::task.train.abreviation}}</td>
						<td class="historyTable" data-title="Task name">{{::task.task.name}}</td>
						<td class="historyTable" data-title="Comments">
						  	<md-button ng-if="task.task.comments.length > 0" md-no-ink class="md-primary" ng-click="showAdvanced(task, $event)" translate="DAILY_TASKS_TRAIN.TABLE.COMMENT_ACTION">Comment</md-button>
						  	<md-card md-theme="{{ showDarkTheme ? 'dark-grey' : 'default' }}" md-theme-watch>
					          	<span translate="DAILY_TASKS_TRAIN.TABLE.NO_COMMENT">No comment</span>
					        </md-card>
						</td>
						<td class="historyTable" data-title="User in charge">
							{{task.userInCharge.username}}
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</md-content>
</div>