<md-content ng-controller="ImportController as vm" flex layout-padding nv-file-over="" uploader="uploader">
    <div layout="column" id="contentElement">
        <div class="row">
                
                <input type="file" nv-file-select="" uploader="uploader" name="file" id="file" class="inputUploadHide" />
                <label class="md-raised md-primary md-button md-ink-ripple" for="file" translate="IMPORT.SELECT_FILE">Select a file</label>
                
                <table class="table" id="importTable" ng-if="fileSelected">
                    <thead>
                        <tr>
                            <th id="fileName" translate="IMPORT.FILE_NAME">Name</th>
                            <th ng-show="uploader.isHTML5" translate="IMPORT.FILE_SIZE">Size</th>
                            <th ng-show="uploader.isHTML5" translate="IMPORT.PROGRESS">Progress</th>
                            <th translate="IMPORT.ACTIONS">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in uploader.queue">
                            <td><br /><strong>{{ item.file.name }}</strong></td>
                            <td ng-show="uploader.isHTML5" nowrap><br />{{ item.file.size/1024/1024|number:2 }} MB</td>
                            <td ng-show="uploader.isHTML5">
                                <br />
                                <md-progress-linear md-mode="determinate" value="{{ item.progress }}">
                                </md-progress-linear>
                            </td>
                            <td nowrap>
                                <md-button class="md-raised md-primary" ng-click="item.upload()" ng-disabled="item.isReady || item.isUploading || item.isSuccess" translate="IMPORT.BUTTONS.UPLOAD">Upload</md-button>
                                <md-button class="md-raised md-warn" ng-click="item.remove()" translate="IMPORT.BUTTONS.REMOVE">Remove</md-button>
                            </td>
                        </tr>
                    </tbody>
                </table>
        </div>
        <br />
        <div class="row">
            <div id="message" flex=40 flex-offset=25></div>
        </div>
    </div>
</md-content>