<div ng-controller="LoginController" ng-init="user.login='danzerbib';user.password='a'">
	<div class="page-login" layout="row" layout-align="space-around" layout-padding="layout-padding" ng-cloak="ng-cloak">
	  <md-card flex="flex" flex-gt-sm="50" flex-gt-md="33">
	    <md-card-content>
	      <form name="Form" ng-submit="login(user)">
	      	<md-input-container class="md-block" flex-gt-sm>
	          <label translate="LOGIN.USERNAME">Username</label>
	          <input ng-model="user.login" required autofocus>
	          <div ng-messages="Form.login.$error" role="alert" multiple="">
	            <div class="my-message" ng-message="required" translate="LOGIN.ERRORS.NO_USERNAME">Vous devez entrer un identifiant</div>
	          </div>
	        </md-input-container>
	        <md-input-container class="md-block">
	          <label translate="LOGIN.PASSWORD">Password</label>
	          <input type="password" ng-model="user.password" required>
	          <div ng-messages="Form.password.$error" role="alert" multiple="">
	            <div class="my-message" ng-message="required" translate="LOGIN.ERRORS.NO_PASSWORD">Vous devez entrer un mot de passe</div>
	          </div>
	        </md-input-container>
	        <md-button type="submit" class="md-raised md-primary" ng-disabled="!Form.$valid"  translate="LOGIN.BUTTON.SIGN_IN">&nbsp; Connection &nbsp;</md-button>
	      </form>
	    </md-card-content>
	  </md-card>
	</div>
</div>