<div ng-controller="LoginController" ng-init="user.login='danzerbib';user.password='a'">
	<div class="page-login" layout="row" layout-align="space-around" layout-padding="layout-padding" ng-cloak="ng-cloak">
	  <md-card flex="flex" flex-gt-sm="50" flex-gt-md="33">
	    <md-card-content>
	      <form name="Form" ng-submit="login(user)">
	      	<md-input-container class="md-block" flex-gt-sm>
	          <label>Identifiant</label>
	          <input ng-model="user.login" required autofocus>
	          <div ng-messages="Form.login.$error" role="alert" multiple="">
	            <div class="my-message" ng-message="required">Vous devez entrer un identifiant</div>
	          </div>
	        </md-input-container>
	        <md-input-container class="md-block">
	          <label>Mot de passe </label>
	          <input type="password" ng-model="user.password" required>
	          <div ng-messages="Form.password.$error" role="alert" multiple="">
	            <div class="my-message" ng-message="required">Vous devez entrer un mot de passe</div>
	            <div class="my-message" ng-message="md-maxlength">Trop long.</div>
	          </div>
	        </md-input-container>
	        <md-button type="submit" class="md-raised md-primary" ng-disabled="!Form.$valid" >&nbsp; Connexion &nbsp;</md-button>
	      </form>
	    </md-card-content>
	  </md-card>
	</div>
</div>