<md-toolbar layout="row" layout-align="left center" ng-cloak="ng-cloak">
  <a href="#"><img src="assets/img/DB_eM_rgb_54px.png" flex-offset="55"></a>
</md-toolbar>

<div layout-padding>
	<md-list flex ng-repeat="menu in menus">
	  	<md-list-item class="md-3-line" ui-sref-active="activeListSideNav" aria-label="Menu navigation" ui-sref="{{menu.state}}">
	    	<div class="md-list-item-text " layout="column">
	      		<h3 translate="{{ menu.name }}"></h3>
	      		<p translate="{{ menu.title }}"></p>
	    	</div>
	  	</md-list-item>
  	</md-list>
</div>