<md-dialog flex=60>
	<md-toolbar>
		<div class="md-toolbar-tools">
			<h2>Associer un type à une tâche</h2>
			<span flex></span>
	        <md-button class="md-icon-button" ng-click="cancel()">
	          <md-icon aria-label="Close dialog">close</md-icon>
	        </md-button>
		</div>
	</md-toolbar>
	<!-- <i  flex-offset="15" class="material-icons">search</i> -->

  <md-dialog-content>
    <md-content flex layout-padding>
      <div layout="row" layout-padding>
        <div layout="column" flex=20>
          <md-list>
            <md-list-item ng-click="selectList(null, null); tabTypes[0].common=!tabTypes[0].common">
              <md-checkbox aria-label="sélection" ng-checked="tabTypes[0].common" ng-model="tabTypes[0].common">
              </md-checkbox>
              Commune
            </md-list-item>
            <md-list-item ng-click="selectList(null, null); tabTypes[0].cancellation=!tabTypes[0].cancellation">
              <md-checkbox aria-label="sélection" ng-checked="tabTypes[0].cancellation" ng-model="tabTypes[0].cancellation">
              </md-checkbox>
              Annulation
            </md-list-item>
            <md-list-item ng-click="selectList(null, null); tabTypes[0].md=!tabTypes[0].md">
              <md-checkbox aria-label="sélection" ng-checked="tabTypes[0].md" ng-model="tabTypes[0].md">
              </md-checkbox>
              MD
            </md-list-item>
            <md-list-item ng-click="selectList(rowCollectionClients, selectedClients)">
              <md-checkbox ng-checked="tabTypes[0].client" aria-label="sélection">
              </md-checkbox>
              Client
            </md-list-item>
            <md-list-item ng-click="selectList(rowCollectionTrains, selectedTrains)">
              <md-checkbox ng-checked="tabTypes[0].train" aria-label="sélection">
              </md-checkbox>
              TrainId
            </md-list-item>
          </md-list>
        </div>

        <div layout="column" md-whiteframe="4" flex>
          <md-input-container layout="row">
            <label>Filtrer</label>
            <input ng-model="filter_search">
          </md-input-container>
          <md-list layout-padding>
            <md-virtual-repeat-container class="modalListHeight">
              <md-list-item md-virtual-repeat="row in rowCollection | filter : filter_search" class="md-list-item-text compact" ng-click="toggle(row, selectedList)">
                <md-checkbox ng-checked="exists(row, selectedList)" aria-label="sélection" ng-click="toggle(row, selectedList)">
                </md-checkbox>
                <div class="md-list-item-text">
                  {{ row.name }}
                </div>
              </md-list-item>
            </md-virtual-repeat-container>
          </md-list>
        </div>
      </div>
    </md-content>
  </md-dialog-content>

  <md-dialog-actions layout="row">
    <span flex></span>
    <md-button ng-click="cancel()">
     Annuler
    </md-button>
    <md-button ng-click="apply()">
      Appliquer
    </md-button>
  </md-dialog-actions>
</md-dialog>