<md-dialog flex=25>
	<md-toolbar>
		<div class="md-toolbar-tools">
			<h2>{{ type }} une tâche</h2>
			<span flex></span>
	        <md-button class="md-icon-button" ng-click="cancel()">
				<md-icon aria-label="Close dialog">close</md-icon>
	        </md-button>
		</div>
	</md-toolbar>

	<md-dialog-content>
		<md-content flex layout-padding>
			<form name="createTask" ng-submit="save(newTask)">
				<md-input-container class="md-block" flex-gt-sm>
					<label>Nom de la tâche</label>
					<input ng-model="newTask.name" required>
		        </md-input-container>
		        <md-input-container class="md-block" flex-gt-sm>
					<label>Délai (en min) ou Heure précise</label>
					<input ng-model="newTask.taskDelay" ng-pattern="/^(?:[+-]\d+|(?:[01][0-9]|2[0-3]):[0-5][0-9])$/" required>
		        </md-input-container>
		        <div layout="row" layout-align="center center">
		        	<md-button type="submit" class="md-raised md-accent" ng-disabled="!createTask.$valid">&nbsp; Enregistrer &nbsp;</md-button>
		        </div>
	        </form>
		</md-content>
	</md-dialog-content>
</md-dialog>