<md-content>
	<md-toolbar>
		<div class="md-toolbar-tools">
			<h2>{{ type }} un client</h2>
			<span flex></span>
	        <md-button class="md-icon-button" ng-click="cancel()">
	          <md-icon aria-label="Close dialog">close</md-icon>
	        </md-button>
		</div>
	</md-toolbar>
	<md-content layout-padding>
		<form name="createClient" ng-submit="save(newClient)">
			<md-input-container class="md-block" flex-gt-sm>
	          <label>Nom client</label>
	          <input ng-model="newClient.name" required>
	        </md-input-container>
	        <md-input-container class="md-block" flex-gt-sm>
	          <label>Abréviation</label>
	          <input ng-model="newClient.abreviation" required>
	        </md-input-container>
	        <div layout="row" layout-align="center center">
	        	<md-button type="submit" class="md-raised md-accent" ng-disabled="!createClient.$valid">&nbsp; Enregistrer &nbsp;</md-button>
	        </div>
        </form>
	</md-content>
</md-content>