<md-content class='large-Modal' layout-padding>
	<div md-whiteframe="4" flex>
		<md-toolbar>
			<div class="md-toolbar-tools">
				<h2>Infos utilisateur</h2>
				<span flex></span>
		        <md-button class="md-icon-button" ng-click="cancel()">
		          <md-icon aria-label="Close dialog">close</md-icon>
		        </md-button>
			</div>
		</md-toolbar>
		<md-content layout-padding>
		<div>
			id : {{ user.id }}
		</div>
		<div>
			Name : {{ user.name }}
		</div>
		<div>
			Username : {{ user.username }}
		</div>
		<div>
			Email : {{ user.email }}
		</div>
		<div>
			Statut : {{ user.status }}
		</div>
		</md-content>
	</div>
	<div md-whiteframe="4" flex>
		<md-toolbar md-colors="::{backgroundColor: 'forest-primary-100'}">
			<div class="md-toolbar-tools">
				Groupes
			</div>
		</md-toolbar>
		<md-chips>
			<md-chip ng-repeat="group in groups">
				{{ group.name }}
			</md-chip>
		</md-chips>
	</div>
	<div md-whiteframe="4" flex>
		<md-toolbar md-colors="::{backgroundColor: 'forest-primary-100'}">
			<div class="md-toolbar-tools">
				Clients
			</div>
		</md-toolbar>
		<md-chips>
			<md-chip ng-repeat="client in clients">
				{{ client.name }}
			</md-chip>
		</md-chips>
	</div>
	<div md-whiteframe="4" flex>
		<md-toolbar md-colors="::{backgroundColor: 'forest-primary-100'}">
			<div class="md-toolbar-tools">
				Structures
			</div>
		</md-toolbar>
		<md-chips>
			<md-chip ng-repeat="structure in structures">
				{{ structure.name }}
			</md-chip>
		</md-chips>
	</div>
	<div md-whiteframe="4" flex>
		<md-toolbar md-colors="::{backgroundColor: 'forest-primary-100'}">
			<div class="md-toolbar-tools">
				Apps
			</div>
		</md-toolbar>
		<md-chips>
			<md-chip ng-repeat="app in apps">
				{{ app.name }}
			</md-chip>
		</md-chips>
	</div>
	<div md-whiteframe="4" flex>
		<md-toolbar md-colors="::{backgroundColor: 'forest-primary-100'}">
			<div class="md-toolbar-tools">
				Features
			</div>
		</md-toolbar>
		<section ng-repeat="app in userFeatures">
	        <md-subheader md-colors="::{backgroundColor: 'forest-primary-50'}" class="md-accent">{{ app.name }}</md-subheader>
	        <md-list>
	            <md-list-item ng-repeat="feature in app.features" class="md-list-item-text compact">
	                <div class="md-list-item-text">
	                    {{ feature.name }}
	                </div>
	            </md-list-item>
	        </md-list>
	    </section>
	</div>
</md-content>